//= require peek/vendor/tipsy
//= require peek/views/performance_bar
//= require peek/views/rblineprof

#peek {
  background-color: #222;
  border-bottom: 1px solid #000;
  color: #999;
  height: 35px;
  line-height: 35px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);

  .hidden {
    display: none;
    visibility: visible;
  }

  &.disabled {
    display: none;
  }

  &.production {
    background-color: #a00000;
  }

  &.staging {
    background-color: #000044;
  }

  &.development {
    background-color: #194000;
  }

  .wrapper {
    padding: 0 20px;
  }

  // UI Elements
  .bucket {
    background: #111;
    display: inline-block;
    padding: 4px 6px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    line-height: 1;
    color: #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 2px rgba(0,0,0,.25);

    .hidden {
      display: none;
    }

    &:hover .hidden {
      display: inline;
    }
  }

  strong {
    color: #ccc;
  }

  .view {
    color: #777;
    margin-right: 25px;
    float: left;
    border: none;
    width: auto;
    width: initial;

    &:last-child {
      margin-right: 0;
    }

    &.align-right {
      float: right;
    }
  }

  .css-truncate {
    &.css-truncate-target,
    .css-truncate-target {
      display: inline-block;
      font-size: 12px;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: top;
      white-space: nowrap;
    }

    &.expandable:hover .css-truncate-target,
    &.expandable:hover.css-truncate-target {
      max-width: 10000px !important;
    }
  }

  a {
    color: #83b9d5;
  }
}
